:root {
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
    --fontSize: (paragraph): 15px;
}

@font-face {
    font-family: Outfit;
    src: url(https://fonts.google.com/specimen/Outfit);
}
